body {
    padding: 0;
    margin: 0;
}
main {
    width: 800px;
    min-width: 680px;
    margin: 0 auto;
    //border: 1px solid red;
}
main ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
main ul li {
    margin: 0 4px;
}
main ul li span {
    font-size: 16px;
}

/* image */
main ul li:nth-child(1) {
    min-width: 50px;
}
/* Name */
main ul li:nth-child(2) {
    width: 15%;
}
/* Created */
main ul li:nth-child(3) {
    width: 15%;
}
/* Category */
main ul li:nth-child(4) {
    width: 18%;
}
/* Content */
main ul li:nth-child(5) {
    width: 20%;
}
/* Dates */
main ul li:nth-child(6) {
    width: 12%;
    white-space: normal;
}
/* edit buttons */
main ul li:nth-child(7) {
    width: 15%;
    min-width: 90px;
}

.headContent,
.mainContent > div,
.headArchive,
.mainArchive > div {
    padding: 8px 10px;
}
.headContent,
.headArchive {
    background-color: gray;
    color: whitesmoke;
}
.headContent ul li,
.headArchive ul li {
    display: inline-block;
    font-weight: 700;
}
.mainContent > div,
.mainArchive > div {
    margin-top: 4px;
    background-color: lightgray;
}
.mainContent > div:hover,
.mainArchive > div:hover {
    background-color: #bcbcbc;
}

.imageCategory {
    width: 40px;
    line-height: 40px;
    background-color: orangered;
    display: inline-block;
    font-weight: 700;
    font-size: 21px;
    color: white;
    border-radius: 70px;
    text-align: center;
}

.editButtons {
    line-height: 0;
}
.editButtons ul {
    text-align: right;
    display: block;
}
.mainContent .editButtons li {
    display: inline-block;
    width: 28px;
    height: 28px;
    background-color: red;
    min-width: auto;
    margin: 0;
}
.mainContent div.archived {
    //box-sizing: border-box;
    //outline: 1px solid red;
    background-color: lightcoral;
}
.checkboxArchived input {
    vertical-align: middle;
    margin-top: 0;
}
.checkboxArchived {
    display: none;
    color: red;
    font-weight: 700;
}
.checkboxArchived.show {
    display: inline;
}

.addNote {
    text-align: right;
    padding: 12px 0;
    display: inline-flex;
    align-items: center;
    width: 100%;
}
.addNote button {
    margin-left: 10px;
}
.addNote .pagination {
    flex-grow: 1;
    text-align: left;
}
.addNote .pagination.hidden {
    visibility: hidden;
}
.addNote .pagination ul li {
    padding: 4px 8px;
    margin: 0 8px 0 0;
    min-width: auto;
    width: auto;
    font: normal 14px Arial;
    color: white;
    background-color: #8e8e8e;
    cursor: pointer;
    user-select: none;
}
.addNote .pagination ul li.active,
.addNote .pagination ul li:hover {
    background-color: orangered;
}
.showArchivedNotes {
    display: none;
}
.showArchivedNotes.show {
    display: inline-block;
}

.background {
    background-color: #000;
    opacity: 0.7;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.background.hidden {
    display: none;
}

/* modal window */
.addNoteModalWindow {
    position: absolute;
    z-index: 2;
    width: 460px;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    margin: 30px auto;
    padding: 16px;
}
.addNoteModalWindow.hidden {
    display: none;
}
.addNoteModalWindow > div {
    padding: 8px 0;
}
.addNoteModalWindow label {
    display: block;
}
.addNoteModalWindow select,
.addNoteModalWindow input {
    height: 24px;
    box-sizing: border-box;
    outline: none;
}
.addNoteModalWindow textarea {
    width: 100%;
    resize: none;
    height: 80px;
    box-sizing: border-box;
    outline: none;
}
.addNoteModalWindow #noteButton {
    text-align: center;
}
.addNoteModalWindow #noteButton button {
    border: 0;
    padding: 8px 12px;
    cursor: pointer;
    background-color: green;
    color: white;
}
.addNoteModalWindow #noteButton button:hover {
    background-color: darkgreen;
}
.addNoteModalWindow .noteClose {
    position: absolute;
    top: 8px;
    right: 16px;
}
#noteName {
    width: 100%;
}
#noteDateFrom {
    margin-right: 20px;
}
.noteDate span {
    display: block;
}
.noteDate label {
    display: inline-block;
}

/* archive content */
main div.headArchive ul li,
main div.mainArchive ul li {
    width: 31%;
}
.headArchive ul li:nth-child(1),
.mainArchive ul li:nth-child(1) {
    width: 7%;
}